node_modules
dist
development.env
client-public-config.json
service-worker-site-asset-cache.js
service-worker-site-asset-cache.js.map
service-worker-register-site-asset-cache.js
service-worker-register-site-asset-cache.js.map
sql-wasm-debug.wasm
worker-browser.js
!client-public/dist